@import "variables.less";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: @corDeFundo;
    min-height: 100vh;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;

    header {
        padding: 2rem 0;
        text-align: center;

        h1 {
            font-size: 3rem;
            color: @corDoHeader;
        }

        p {
            font-size: 1rem;
            color: @corDoHeader;
        }
    }
}

.estatistica {
    justify-content: center;
    display: flex;
    gap: 2rem;
    text-align: center;

    .stat-card {
        background: white;
        padding: 1.5rem;
        border-radius: 20px;
        width: 180px;
        box-shadow: @sombraCard;

        span {
        font-size: 2rem;
        font-weight:600;
        }
    }

    .stat-card p {
        font-size: .9rem;
        padding-top: 10px;
    }
}

.form {
    display: flex;
    justify-content: center;
    padding: 3rem;
    
    form {
        display: flex;
        flex-wrap: wrap;
        background: white;
        padding: 2rem;
        border-radius: 16px;
        box-shadow: @sombraCard;
        width: 100%;
        max-width: 700px;
        font-size: 1rem;
        gap: 1rem;
        justify-content: center;

            .form_tarefa {
                width: 100%;
            }
    }
}

input[type="text"],
select {
    display: flex;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #D1D5DB;
    background: transparent;
    font-size: 1rem;

    &:focus {
        outline: none;
        border-bottom-color: @corDoHeader;
    }
}

.button_form {
    display: flex;
    justify-content:center;
    text-align: center;

    button {
        padding: 12px 24px;
        border: none;
        border-radius: 10px;
        background-color: @corDoHeader;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        transition: 0.3s;
    }

    button:hover {
        opacity: 0.85;
    }
}

.tabs {
    margin-bottom: 2rem;
    
        ul {
            display: flex;
            width: 100%;
            gap: 1em;
            list-style: none;
            justify-content: center;
            align-items: center;
    }
}

.tabs-options {
    font-size: 1.2rem;
    padding: 8px 16px;
    background: transparent;
    color: #666;
    border: none;
    border: 1px solid #E5E7EB;
    cursor: pointer;
    transition: 0.3s;

    &.active {
        background: @corDoHeader;
        color: white;
    }

    &:hover {
        background-color: #6365f1a8;
    }
}

.grid-container {
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    li {
        display: block;
        font-size: 1rem;
        list-style: none;
        background: white;
        padding: 1rem;
        border-radius: 20px;
        box-shadow: @sombraCard;
        border: 2px solid @sombraCard;
    }
}

.main-task {
    display: flex;
    align-items: center;
    gap: 0.7em;

    h2 {
        font-size: 1.1rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow-wrap: break-word;
    }
}

.info-task {
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
    padding-top: 10px;
}

.info-task span {
  font-size: 1.1rem;
  padding: 4px 10px;
  border-radius: 12px;
  background-color: #eeeef0;
  color: #555;
}