@import "variables.less";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: @corDeFundo;
    min-height: 100vh;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 2em;

    header {
        padding: 2em 0;
        text-align: center;

        h1 {
            font-size: 3em;
            color: @corDoHeader;
        }

        p {
            font-size: 1em;
            color: @corDoHeader;
        }
    }
}

.estatistica {
    justify-content: center;
    display: flex;
    gap: 2em;
    text-align: center;

    .stat-card {
        background: white;
        padding: 1.5em;
        border-radius: 20px;
        width: 180px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.164);

        span {
        font-size: 2rem;
        font-weight:600;
        }
    }

    .stat-card p {
        font-size: .9rem;
        padding-top: 10px;
    }
}

.form {
    display: flex;
    justify-content: center;
    padding: 3em;
    
    form {
        display: flex;
        flex-wrap: wrap;
        background: white;
        padding: 2em;
        border-radius: 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 700px;
        font-size: 1em;
        gap: 1em;
        justify-content: center;

            .form_tarefa {
                width: 100%;
            }
    }
}

input,
select {
    display: flex;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #D1D5DB;
    background: transparent;
    font-size: 1em;

    &:focus {
        outline: none;
        border-bottom-color: @corDoHeader;
    }
}

.button_form {
    display: flex;
    justify-content:center;
    text-align: center;

    button {
        padding: 12px 24px;
        border: none;
        border-radius: 10px;
        background-color: @corDoHeader;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        transition: 0.3s;
    }

    button:hover {
        opacity: 0.85;
    }
}

.tabs {
    margin-bottom: 2em;
    
        ul {
            display: flex;
            gap: 1em;
            list-style: none;
            justify-content: center;
            align-items: center;
    }
}

.tabs-options {
    font-size: 1.2em;
    padding: 8px 16px;
    background: transparent;
    color: #666;
    border: none;
    border: 1px solid #E5E7EB;
    cursor: pointer;
    transition: 0.3s;

    &.active {
        background: @corDoHeader;
        color: white;
    }

    &:hover {
        background-color: #eaebec;
    }
}
